body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 10px;
}

.text_red {
  color: red;
}

.p_class {
  font-size: 20px;
  color: red;
}

#p_id {
  font-size: 16px;
  color: green;
}
